body {
    margin: 0;
    color: limegreen;
    overflow-x: hidden;
    background-color: #04361B;
}

header {
    z-index: 2;
    background-color: #04361B;
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0%;
    left: 0%;
    border-bottom: #06ad00;
    border-width: 3px;
    border-bottom-style: solid;
}

.navidiv {
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: #04361B;
    transition: 1s;
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    text-align: center;
}

.navitext {
    color: limegreen;
}

.navitext:hover {
    color: #A5D9C5;
}

.navikep {
    position: absolute;
    top: 5%;
    right: 2%;
    width: 5%;
    min-width: 70px;
    z-index: 3;
}

.tartalom {
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    left: 0%;
    top: 0%;
    overflow: scroll;
    background-image: url("matrix.jpg");
    background-size: cover;
    background-position: center;
}

.tartalom::-webkit-scrollbar {
    display: none
}

.cim {
    vertical-align: middle;
    text-align: center;
    font-size: 200%;
    animation-delay: 1s;
}

.textdiv {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    background-color: #04361B;
    border-radius: 20px;
    border-color: #06ad00;
    border-style: solid;
    border-width: 3px;
}

.textcim {
    text-align: center;
    font-size: 150%;
}

.texttartalom {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3%;
}

.gridcim {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 200%;
    width: 50%;
    height: 10%;
    background-color: #04361B;
    border-radius: 50px;
    border-color: #06ad00;
    border-style: solid;
    border-width: 3px;
}

.pggrid {
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.gggrid {
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.aggrid {
    width: 100%;
    height: 40%;
    display: grid;
    margin-left: 25%;
    margin-right: 25%;
    grid-template-columns: 25% 25%;

}

.gridkep {
    width: 80%;
    margin-left: 1%;
    margin-bottom: 10%;
    background-color: #04361B;
    border-radius: 10%;
    border: 10px;
    border-color: #28a032;
    border-style: outset;
    transition: 1s;
}

.gridkep:hover {
    border-style: inset;
    border-color: limegreen;
    transition: 1s;
    width: 90%;
}

.full {
    width: 100%;
    height: 86%;
    position: fixed;
    top: -1000%;
    left: 0%;
    background-color: #0f4424;
    transition: 1s;
    grid-template-columns: 50% 50%;
    display: grid;
    padding-top: 5%;
}

.full::-webkit-scrollbar {
    display: none;
}

.fullcim {
    text-align: center;
    font-size: 200%;
}

.fulltext {
    font-size: 110%;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}

.fullkep {
    width: 80%;
    margin-right: 10%;
}

footer {
    width: 100%;
    height: 11%;
    background-color: #04361B;
    padding-top: 3%;
    padding-bottom: 10%;
}

.footercim {
    text-align: center;
    vertical-align: middle;
    
}

@media screen and (max-width:800px) {

    .pggrid {
        grid-template-columns: 50% 50%;
    }

    .gggrid {
        grid-template-columns: 50% 50%;
    }

    .aggrid {
        grid-template-columns: 50% 50%;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .full {
        grid-template-columns: 100%;
        overflow-y: scroll;
        padding-top: 0%;
    }

    .fullkep {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .textdiv {
        margin-top: 25%;
    }

}

@media screen and (max-width:600px) {

    .gridcim {
        font-size: 150%;
        border-radius: 25px;
    }

    .pggrid {
        grid-template-columns: 100%;
    }

    .gggrid {
        grid-template-columns: 100%;
    }

    .aggrid {
        grid-template-columns: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .navidiv {
        grid-template-columns: 100%;
        height: 85%;
        background-color: #04361B;
    }

    .gridkep {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        border: none;
    }

    .gridkep:hover {
        border-style: inset;
        border-color: limegreen;
        transition: 1s;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    .textdiv {
        margin-top: 40%;
    }
}
